services:
    app:
      build: .
      image: keno:latest
      environment:
        - PYTHONUNBUFFERED=1
      container_name: keno
      restart: unless-stopped
      command: fastapi dev app/main.py --host=0.0.0.0 --port 5000
      stdin_open: true
      tty: true
      ports:
        - "8044:5000"
      volumes:
        - .:/app
