<html>
  <head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="color-container">
    {% for color in color_ramp %}
      <div class="color" style="background-color:{{ color }}">
      </div>
    {% endfor %}
    </div>

    <div class="container">
    <div class="parent">
      {% for v in data.numbers %}
        {% for num, stats in v.items() %}
        <div class="box outer" style="border-color:{{ stats.HIGH.color }}">
          <div class="box middle" style="border-color:{{ stats.MID.color }}">
            <div class="box middle" style="border-color:{{ stats.LOW.color }}">
              {{ num }}
            </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
    </div>

  </body>
</html>
